:root {
  /* PRIMARY */
  --dark-blue: hsl(233, 26%, 24%);
  --lime-green: hsl(136, 65%, 51%);
  --bright-cyan: hsl(192, 70%, 51%);
  /* NEUTRAL */
  --grayish-blue: hsl(233, 8%, 62%);
  --light-grayish-blue: hsl(220, 16%, 96%);
  --very-light-gray: hsl(0, 0%, 98%);
  --white: hsl(0, 0%, 100%);
}

html {
  background-color: var(--very-light-gray);
}

body {
  font-family: "Public Sans", sans-serif;
  color: var(--dark-blue);
  margin: 0;
  text-decoration: none;
}

h1 {
  font-weight: 300;
}

h2 {
  font-weight: 300;
  font-size: 1.2em;
}

h3 {
  font-weight: 300;
}

h4 {
  font-weight: 300;
}

p {
  font-size: 0.85em;
  color: var(--grayish-blue);
  /* margin: 1em; */
  line-height: 1.5em;
}

a {
  text-decoration: none;
}

a:hover {
  color: var(--lime-green);
}

.btn {
  font-size: 1rem;
  color: var(--white) !important;
  font-weight: 700;
  text-decoration: none;
  background: linear-gradient(to right, var(--lime-green), var(--bright-cyan));
  border-radius: 5rem;
  max-height: 20px;
  max-width: 200px;
  padding: 14px 16px;
  margin: 4px;
}

.btn:hover {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.24), 0 2px 2px 0 rgba(0, 0, 0, 0.19);
}


/* Navbar */

.topnav {
  display: flex;
  overflow: hidden;
  background-color: var(--very-light-gray);
  justify-content: space-around;
}

.topnav a {
  float: left;
  display: block;
  text-align: left;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: var(--light-grayish-blue);
  color: var(--grayish-blue);
}

.topnav a.active {
  background-color: var(--lime-green);
  color: var(--very-light-gray);
}

.topnav .icon {
  display: none;
}

.topnav .btn {
  margin-right: 4.5em;
}


/* Welcome Section */

.container {
  display: flex;
  position: sticky;
  text-align: center;
}

#container1 {
  flex-direction: row-reverse;
}

.flex-item1 {
  background-image: url(./images/bg-intro-desktop.svg);
  background-position: 0 -200px;
  background-repeat: no-repeat;
}

#title {
  margin-top: 10%;
  margin-left: 2em;
  text-align: left;
}

#title h1 {
  font-size: 3.5em;
  margin-right: 1em;
}

#title p {
  font-size: 1.5em;
  color: var(--grayish-blue);
  margin-right: 1em;
}

#mockup {
  width: auto;
  height: auto;
  object-position: 130px -110px;
  /* margin: -35px; */
}

/* Icon section */

/* Article Section */

/* Footer */

#container5 {
  background-color: var(--dark-blue);
  flex-direction: row;
  justify-content: space-around;
}

#container5 h4{
  color: var(--white);
}

.footer-logo-wrapper{
  margin: 1em;
}

#footer-logo {
  filter: brightness(0) invert(1);
  width: 10em;
}

.socials{
  width: 1.5em;
  margin: 1em;
}

.attribution { 
  font-size: 11px; text-align: center; color: var(--white); 
}
.attribution a { 
  color: var(--lime-green); 
}

/* -------------------- Mobile -------------------- */
@media screen and (max-width: 800px) {
  /* Navbar */

  .topnav a:not(:first-child) {
    display: none;
    text-align: center;
  }

  .topnav a.icon {
    float: left;
    display: block;
    background-color: var(--very-light-gray);
  }

  .topnav a.logo {
    float: right;
    display: block;
  }

  .topnav {
    justify-content: space-between;
    width: 100%;
    background-color: var(--very-light-gray);
    position: absolute;
    z-index: 9;
  }
  .topnav.responsive {
    justify-content: space-between;
    position: absolute;
    flex-direction: column;
    z-index: 7;
    background-color: transparent;
    background-image: linear-gradient(var(--dark-blue), transparent);
  }
  .topnav.responsive .icon {
    position: fixed;
    right: 0;
    top: 0;
  }

  .topnav.responsive .logo {
    position: relative;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 8;
  }

  .topnav.responsive a {
    float: none;
    display: block;
    background-color: var(--very-light-gray);
    z-index: 8;
    color: var(--dark-blue);
  }

  .topnav.responsive .transparent {
    position: relative;
    background-color: transparent;
    border: 1em transparent solid;
    margin-bottom: 15em;
  }

  #btn1 {
    display: none !important;
  }

  /* Welcome Section */

  .container {
    flex-direction: column;
  }

  #container1 {
    flex-direction: column;
  }

  .flex-item1 {
    background-image: url(./images/bg-intro-mobile.svg);
    background-position: 0 15px;
    background-repeat: no-repeat;
    overflow: hidden;
    margin: 0px;
    padding: 0px;
  }

  #mockup {
    width: 100%;
    height: 100%;
    object-position: 0 -45px;
    margin: -35px;
  }

  /* Icon Section */

  .flex-item2 {
    margin: 1em;
  }

  .flex-item2 h1 {
    margin-left: 1em;
    margin-right: 1em;
  }

  .flex-item3 {
    margin-left: 1em;
    margin-right: 1em;
  }

  .flex-item3 p {
    margin: 1em;
  }

  .flex-item3 h2 {
    margin-left: 1em;
    margin-right: 1em;
  }

  .flex-item3 img {
    margin: 1em;
  }

  /* Article Section */

  .flex-item4 {
    margin: 1em;
    text-align: left;
  }

  .flex-item4 img {
    width: 100%;
    border-top-left-radius: 0.5em;
    border-top-right-radius: 0.5em;
    transform: scaleY(0.9);
  }

  .flex-item4 p {
    margin-left: 2em;
    margin-right: 2em;
  }

  .flex-item4 h3 {
    margin-left: 1.5em;
    margin-right: 1.5em;
  }

  .flex-item4 h4 {
    margin-left: 2.5em;
    margin-right: 2.5em;
    color: var(--grayish-blue);
    font-size: 0.75em;
  }

  /* Footer */

  #container5 {
    background-color: var(--dark-blue);
    flex-direction: column;
  }
}
