:root {
  /* PRIMARY */
  --dark-blue: hsl(233, 26%, 24%);
  --lime-green: hsl(136, 65%, 51%);
  --bright-cyan: hsl(192, 70%, 51%);
  /* NEUTRAL */
  --grayish-blue: hsl(233, 8%, 62%);
  --light-grayish-blue: hsl(220, 16%, 96%);
  --very-light-gray: hsl(0, 0%, 98%);
  --white: hsl(0, 0%, 100%);
}

html {
  background-color: var(--very-light-gray);
}

body {
  font-family: "Public Sans", sans-serif;
  color: var(--dark-blue);
  margin: 0;
  text-decoration: none;
}

h1 {
  font-weight: 300;
}

p {
  font-size: 0.9em;
  color: var(--grayish-blue);
}

/* Navbar */

.topnav {
  display: flex;
  overflow: hidden;
  background-color: var(--very-light-gray);
  justify-content: space-around;
}

.topnav a {
  float: left;
  display: block;
  text-align: left;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: var(--light-grayish-blue);
  color: var(--grayish-blue);
}

.topnav a.active {
  background-color: var(--lime-green);
  color: var(--very-light-gray);
}

.topnav .icon {
  display: none;
}

.btn {
  font-size: 1rem;
  color: var(--white) !important;
  font-weight: 700;
  text-decoration: none;
  background: linear-gradient(to right, var(--lime-green), var(--bright-cyan));
  border-radius: 5rem;
  max-height: 20px;
  max-width: 200px;
  padding: 14px 16px;
}

/* Welcome Section */

.container {
  display: flex;
  position: sticky;
  text-align: center;
}

#container1 {
  flex-direction: row-reverse;
}

.flex-item1 {
  background-image: url(./images/bg-intro-desktop.svg);
  background-position: 0 -200px;
  background-repeat: no-repeat;
}

/* Mobile */
@media screen and (max-width: 800px) {
  /* Navbar */

  .topnav a:not(:first-child) {
    display: none;
    text-align: center;
  }

  .topnav a.icon {
    float: left;
    display: block;
    background-color: var(--very-light-gray);
  }

  .topnav a.logo {
    float: right;
    display: block;
  }

  .topnav {
    justify-content: space-between;
    width: 100%;
    background-color: var(--very-light-gray);
    position: absolute;
    z-index: 9;
  }
  .topnav.responsive {
    justify-content: space-between;
    position: absolute;
    flex-direction: column;
    z-index: 7;
    background-color: transparent;
    background-image: linear-gradient(var(--dark-blue), transparent);
  }
  .topnav.responsive .icon {
    position: fixed;
    right: 0;
    top: 0;
  }

  .topnav.responsive .logo {
    position: relative;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 8;
  }

  .topnav.responsive a {
    float: none;
    display: block;
    background-color: var(--very-light-gray);
    z-index: 8;
    color: var(--dark-blue);
  }

  .topnav.responsive .transparent {
    position: relative;
    background-color: transparent;
    border: 1em transparent solid;
    margin-bottom: 15em;
  }

  #btn1 {
    display: none !important;
  }

  /* Welcome Section */

  .container {
    flex-direction: column;
    /* background-color: black; */
    /* margin-left: 0.5em; */
    /* margin-right: 0.5em; */
  }

  #container1 {
    flex-direction: column;
    /* padding-top: -1em; */
  }

  .flex-item1 {
    background-image: url(./images/bg-intro-mobile.svg);
    background-position: 0 15px;
    background-repeat: no-repeat;
    overflow: hidden;
    margin: 0px;
    padding: 0px;
  }

  #mockup {
    width: 100%;
    height: 100%;
    object-position: 0 -45px;
    margin: -35px;
  }

  .flex-item2 {
    margin-left: 1em;
    margin-right: 1em;
  }

  .flex-item2 h1 {
    margin-left: 1em;
    margin-right: 1em;
  }

}
