:root {
  /* PRIMARY */
--dark-blue: hsl(233, 26%, 24%);
--lime-green: hsl(136, 65%, 51%);
--bright-cyan: hsl(192, 70%, 51%);
/* NEUTRAL */
--grayish-blue: hsl(233, 8%, 62%);
--light-grayish-blue: hsl(220, 16%, 96%);
--very-light-gray: hsl(0, 0%, 98%);
--white: hsl(0, 0%, 100%);
}

html{
  background-color: var(--very-light-gray);
  color: var(--dark-blue);
}

body{
  font-family: 'Public Sans', sans-serif;
  color: var(--dark-blue);
}


/* Navbar */

.topnav {
  display: flex;
  overflow: hidden;
  background-color: var(--very-light-gray);
  justify-content: space-around;
}


.topnav a {
  float: left;
  display: block;
  text-align: left;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: var(--light-grayish-blue);
  color: var(--grayish-blue);
}

.topnav a.active {
  background-color: var(--lime-green);
  color: var(--very-light-gray);
}

.topnav .icon {
  display: none;
}

.btn{
  font-size: 1.5rem;
  color: var(--white) !important;
  font-weight: 700;
  text-decoration: none;
  background: linear-gradient(to right, var(--lime-green), var(--bright-cyan));
  border-radius: 5rem;
  max-height: 20px;
  max-width: 200px;
  padding: 16px 32px;
}

/* Welcome Section */


/* Mobile */
@media screen and (max-width: 800px) {
  /* Navbar */
  .topnav a:not(:first-child) {
    display: none;
    text-align: center;
  }
  .topnav a.icon {
    float: left;
    display: block;
  }

  .topnav {
    justify-content: space-between;
  }
  .topnav.responsive {
    position: relative;
    flex-direction: column;
  }
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
  }

  #btn1{
    display: none !important;
  }
}